#Fri Nov 07 17:40:27 EST 2014
LotusNotesServerIsLocal=true
LotusNotesServerDateFormat=Detect
GoogleCalendarName=Lotus Notes
GoogleEnableProxy=true
LotusNotesServer=BikiniBottom/NotesServer
SyncOnStartup=false
SyncLocationAndRoom=true
SyncMeetingAttendees=true
SyncAtMinOffsets=true
ConfigVersion=8
SyncAllSubjectsToValue=false
GoogleProxyUsername=
LotusNotesMailFile=mail/spongebob.nsf
SyncDescription=false
SyncDaysInFuture=60
GoogleProxyPort=80
GoogleUsername=spongebob@gmail.com
GoogleProxyIP=proxy.krustykrab.com
SyncAlarms=true
DiagnosticMode=false
LotusNotesPassword=
SyncMinOffsets=0, 15, 30, 45
SyncAllSubjectsToThisValue=(Private Entry)
DontSaveSensitiveData=false
GoogleProxyPassword=
ApplicationVersion=2.8
SyncDaysInPast=7

